<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Browser</title>

    <style>
      body {
        font-family: "new york";
      }
    </style>
  </head>
  <body>
    <!-- Header -->
    <header>
      <h2>Learning Browser</h2>
      <small><a href="./index.html">INDEX</a></small>
    </header>

    <!--  Indexing -->
    <main>
      <ul>
        <!-- {{INJECT PAGES LISTING}} -->
      </ul>
    </main>
  </body>
</html>
